.button {
  font-size: 2vw;
  color: white;
  width: 25vw;
  height: 5vw;
  margin: 0.5rem;
  outline: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 5px;
  border: none;
  box-shadow: 0.124rem 0.123rem 1rem black;
  transition: all 200ms ease-in;
}

.button:hover {
  opacity: 0.8;
  box-shadow: 0.1rem 0.1rem 0.6rem black;
}
